<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
  <script src="https://kit.fontawesome.com/468ce0f85d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Match & Mix</title>
</head>

<body>
  <header class="header" id="home-header">
    <h1 class="name" id="home-name">Match & Mix<i class="fas martini fa-glass-martini-alt"></i></h1>
      <nav id="home-nav">
        <ul class="nav-ul" id="home-ul">
          <li class="nav-item home-nav-item"><a class="nav-anchor anchor-home" href="/bars">The Bars</a></li>
          <li class="nav-item home-nav-item"><a class="nav-anchor anchor-home" href="/ingredients">The Ingredients</a></li>
          <li class="nav-item home-nav-item"><a class="nav-anchor anchor-home" href="/recipes">The Recipes</a></li>
        </ul>
      </nav>
  </header>
  <main class="home-main">
    <section>
      <h3 class="header">About</h3>
      <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, vitae porro. Aperiam quam recusandae rerum, quidem corporis error libero. Modi corrupti ducimus in, dolor cupiditate eos quia natus ab. Tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates iste velit modi debitis eum illo, ipsa dicta! Ipsam excepturi perspiciatis quod voluptate, officia nemo, error quis, ipsa blanditiis praesentium soluta.</p>
    </section>
    <section>
      <h4 class="header">Site Information</h4>
      <p class="information"> We do not, under any circumstances, accept responsibility for any damages that result to yourself or anyone else due to the consumption of alcoholic beverages or the use of this site and any materials located on it. We cannot take any responsibility for the effect these drinks may have on people. </p>
    </section>
    </main>
  <footer>
    <h6 class="disclaimer">Please Drink Responsibly | Never Drink and Drive</h6>
    <h6 class="created">Created by Connor & Parvis</h6>
  </footer>
</body>
</html>