<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match & Mix</title>
</head>

<body>
    <header>
        <h1 id="brandname">Match & Mix</h1>
        <nav id="homeNav">
            <ul>
                <li class="navItem"><a class="navAnchor" href="/bars">The Bars</a></li>
                <li class="navItem"><a class="navAnchor" href="/ingredients">The Ingredients</a></li>
                <li class="navItem"><a class="navAnchor" href="/recipes">The Recipes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, vitae porro. Aperiam quam recusandae rerum, quidem corporis error libero. Modi corrupti ducimus in, dolor cupiditate eos quia natus ab. Tempora.</p>
    </main>
    <footer>
        <h3>Site Information</h3>
        <p> We do not, under any circumstances, accept responsibility for any damages that result to yourself or anyone else due to the consumption of alcoholic beverages or the use of this site and any materials located on it. We cannot take any responsibility for the effect these drinks may have on people. </p>
        <h5>Please Drink Responsibly - Never Drink and Drive</h5>
    </footer>
</body>
</html>