<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mix & Match</title>
</head>
<body>
  <header>
    <h1>Mix & Match</h1>
    <nav>
      <ul>
        <li><a href="/bars">The Bars</a></li>
        <li><a href="/ingredients">The Ingredients</a></li>
        <li><a href="/recipes">The Recipes</a></li>
     </ul>
    </nav>
  </header>
  <section>
    <h3>About</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Sapiente, vitae porro. Aperiam quam recusandae rerum, quidem corporis 
      error libero. Modi corrupti ducimus in, dolor cupiditate eos quia 
      natus ab. Tempora.</p>
  </section>
  <footer>
    <h3>Site Information</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Sapiente, vitae porro. Aperiam quam recusandae rerum, quidem corporis 
      error libero. Modi corrupti ducimus in, dolor cupiditate eos quia 
      natus ab. Tempora.</p>
  </footer>
</body>
</html>