<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete
        <%= ingredient.name %>
    </title>
</head>

<body>
  <header>
    <h2>Uh Oh! Did you match & mix one too many?</h2>
  </header>
  <main>
    <p>Before you proceed please understand that the more ingredients listed on this website, the more robust
      your match & mix experience will be!</p>
    <h4>Are you sure you want to permanently delete <%= ingredient.name %>?</h4>
    <section>
      <a href="/ingredients"><button>No, Don't Delete</button></a>
      <form action="/ingredients/<%= ingredient._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Yes, Delete"/>
      </form>
    </section>
  </main>
  <footer>
    Match & Mix Project is for educational purposes only and does not advocate or encourage the abuse of alcoholic beverages. Please drink responsibly and with moderation.
    <br><p>This project is created by Connor & Parvis</p>

    <!--
    We do not, under any circumstances, accept responsibility for any damages that result to yourself or anyone else due to the consumption of alcoholic beverages or the use of this site and any materials located on it. We cannot take any responsibility for the effect these drinks may have on people. -->
</footer>
</body>

</html>