<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>New Ingredient</title>
</head>
<body>
  <header>
    <h1>Create Ingredient</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">The Recipes</a></li>
        <li><a href="/bars">The Bars</a></li>
        <li><a href="/ingredients">The Ingredients</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/ingredients" method="POST">
      <input type="text" name="name" placeholder="Ingredient Name" />
      Select Ingredient Type: <select name="type">
        <option value="spirit">Spirit</option>
        <option value="soda">Soda</option>
        <option value="juice">Juice</option>
        <option value="mixer">Mixer</option>
        <option value="syrup">Syrup</option>
        <option value="barStock">Bar Stock</option>
        <option value="garnish">Garnish</option>
      </select>
      <input type="submit" value="Add Ingredient" />
    </form>
  </main>
</body>
</html>