body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F7F9FB;
}

/* HEADER SECTION --- home: home index only */
.header {
  position: fixed;
  top: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 9vh;
  background-color: #687864;
  color: #F7F9FB;
}

#home-header {
  justify-content: center;
  height: 15vh;
}

/* Match & Mix title */
.brand-name {
  margin: 0;
  height: 40px;
}

#home-name {
  margin: 0;
  font-size: 5.0rem;
  text-decoration-line: underline overline;
}

#home-martini {
  position: relative;
  font-size: 56px;
  left: -10px;
  bottom: -1px;
}

/* Nav menu */
.menu {
  margin: 0 30px;
  font-size: 28px;
  transition: 0.5s;
  cursor: pointer;
}

.menu:hover {
  font-size: 30px;
}

nav {
  position: absolute;
  width: 150px;
  left: 27px;
  top: 100%;
}

#home-nav {
  width: 100vw;
  left: 0;
  top: 92px;
}

.nav-ul {
  margin: 0;
  border-radius: 0 15px 15px 15px;
  background-color: #31708E;
}

#home-ul {
  width: 100vw;
  display: inline-flex;
  justify-content: space-evenly;
  border-radius: 0;
  background-color: #31708E;
}

.nav-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 5px;
  height: 40px;
  margin: 0;
}

.top-nav {
  border-radius: 0 15px 0 0;
}

.bottom-nav {
  border-radius: 0 0 15px 15px;
}

.nav-item:hover {
  background-color: rgb(72, 127, 153);
  padding-left: 7px;
}

.home-nav-item {
  padding: 0;
  justify-content: center;
  width: 33vw;
  border-radius: 0;
}

.home-nav-item:hover {
  background-color: rgb(72, 127, 153);
  padding-left: 0;
}

.nav-anchor {
  text-decoration: none;
  font-size: 18px;
  color: #F7F9FB
}

.nav-anchor:hover {
  color: #F7F9FB
}

.anchor-home:hover {
  text-decoration: underline;
}

/* MAIN SECTION */
main {
  text-align: center;
  width: 80vw;
  height: 80vh;
}

.home-main {
  position: absolute;
  top: 131px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.page-name {
  margin: 5px 0 15px 0;
}

.feature-button {
  margin-bottom: 25px;
}

.main-section-header {
  margin-bottom: 15px;
  text-decoration: underline;
}

.primary-list {
  list-style-type: none;
  font-size: 18px;
}

.about {
  font-size: larger;
}

/* FORMS */
.name-input {
  text-align: center;
  font-size: 18px;
  width: 25vw;
}

fieldset {
  margin-bottom: 20px;
}

legend {
  font-size: 22px;
  text-decoration: underline;
}

.check-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.check-item {
  display: inline-flex;
  align-items: center;
}

.check-input {
  margin: 0 5px 0 0;
}

.check-label {
  margin: 0;
}

/* FOOTER SECTION */
footer {
  position: fixed;
  bottom: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: #31708E;
  color: #F7F9FB;
}

.disclaimer, .created {
  margin: 0 20px;
}