body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#homeNav {
  position: absolute;
  width: 150px;
  left: 20px;
  top: 100px;
}

nav>ul {
  margin: 0;
  background-color: rgb(223, 234, 243);
  border-radius: 15px;
}

.navItem {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 5px;
  height: 40px;
  margin: 0;
  border-radius: 15px;
}

.navItem:hover {
  background-color: rgb(213, 224, 233);
  padding-left: 7px;
}

.navAnchor {
  text-decoration: none;
  font-size: 18px;
}

#homeHeader {
  position: absolute;
  top: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
  background-color: #687864;
  color: #F7F9FB;
}

#homeName {
  margin: 0;
  text-decoration-line: underline overline;
}

.martini {
  position: relative;
  font-size: 56px;
  left: -10px;
  bottom: -1px;
}

main {
  text-align: center;
  width: 80vw;
}

footer {
  position: absolute;
  bottom: 0;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 8vh;
  background-color: rgb(126, 165, 197);
  color: rgb(255, 255, 255);
}

.disclaimer, .created {
  margin: 0 10px;
}