<!DOCTYPE html>
<html lang="en">

<head>

    <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ingredients">The Ingredients</a></li>
                <li><a href="/recipes">The Recipes</a></li>
            </ul>
        </nav>
    </header>
    <h2>List of Recipes</h2>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li>
                <a href="/recipe/<%= article._id %>">
                    <%= recipe.name %>
                </a>
            </li>
            <% }); %>
    </ul>
    <% if(recipes.length === 0){ %>
        <p>No recipes available at the moment.</p>
        <% } %>
            <footer>

            </footer>
</body>

</html>