<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>

<body>
    <header>
        <h1>Create New Recipes</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ingredients">The Ingredients</a></li>
                <li><a href="/recipes">The Recipes</a></li>
            </ul>
        </nav>
    </header>
    <h2>Available Ingridients</h2>

    <footer>

    </footer>
</body>

</html>