<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes Collection</title>
</head>

<body>
    <header>
        <h1>Recipes</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/ingredients">The Ingredients</a></li>
                <li><a href="/recipes">The Recipes</a></li>
            </ul>
        </nav>
    </header>

    <p>Recipes</p>






    <footer>

    </footer>
</body>

</html>