<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/styles/mm-brand.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete <%= bar.name %></title>
</head>
<body>
  <header>
    <h2>Are you sure you want to permanently delete <%= bar.name %>?</h2>
  </header>
  <main>
    <button><a href="/bars/<%= bar._id %>">No, Don't Delete</a></button>
    <form action="/bars/<%= bar._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Yes, Delete"/>
    </form>
  </main>
  <footer>
    Match & Mix Project is for educational purposes only and does not advocate or encourage the abuse of alcoholic beverages. Please drink responsibly and with moderation.
<!--
    We do not, under any circumstances, accept responsibility for any damages that result to yourself or anyone else due to the consumption of alcoholic beverages or the use of this site and any materials located on it. We cannot take any responsibility for the effect these drinks may have on people.
  -->
  </footer>
</body>
</html>