<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= bar.name %></title>
</head>
<body>
  <h1><%= bar.name %></h1>
  <ul>
    <% bar.ingredients.forEach(ingredient => { %>
      <li><%= ingredient.name %></li>
   <% }) %>
  </ul>
</body>
</html>